<div class="divider">&nbsp; </div>
<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Tervetuloa PC PROTEGO-palveluun  </a></h2>
				<div class="entry">
					<p>Tämä on <strong>PC Protegon</strong> verkkosivusto. Tarjoamme ammattimaisia <strong>paikan päällä toteutettavia</strong> tietokonekorjauspalveluja. Monipuolinen palveluvalikoimamme kattaa. : <%= link_to "tietokoneiden korjauksen", computer_repair_path %>, <%= link_to "datapalvelut",    data_path %>, and <%= link_to "verkkojen määrityksen" , network_path %>. Palvelemme asiakkaita <strong> Helsingin</strong>, <strong> Espoon</strong>, and <strong> Vantaan </strong> alueella. Besides, <%= link_to "PC Protegon tukisuunnitelmat " , support_plan_path %> tuovat sinulle mielenrauhaa, jos asiat menevät pieleen, ja mahdollisuuden<strong> hoitaa tietokone kuntoon kertamaksulla</strong>. Käytäntöihimme kuuluvat:</p>
					 <strong>Kiinteä hinta -</strong> Maksat kiinteän hinnan riippumatta siitä, kuinka kauan tehtävän suorittaminen kestää.<br>
					 <br><strong>Takuu työlle -</strong> Tietokoneiden korjaustoimenpiteille tarjoamme 30 päivän takuun: jos ongelma jostakin syystä toistuu 30 päivän kuluessa, korjaamme sen veloituksetta.
					 <br>
					 <br><strong> Maksat, jos pystymme korjaamaan tietokoneesi -</strong> Jos emme pysty korjaamaan ongelmaa, emme veloita sinulta mitään.<br>
					<br><strong>Maksat, kun tietokoneesi on korjattu  -</strong>. Sinun <strong> ei tarvitse </strong> maksaa vuosittaista huoltomaksua jokaisesta tietokoneestasi. Riittää, kun maksat tietokoneen korjaamisesta <strong>kertamaksun</strong>.<br>
					
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<div>
				<h2>Tarjouksemme</h2>
				<ul class="list-style1">
				<p>Et joudu maksamaan <strong>vuosimaksua</strong>, vaan maksat<strong> erikseen kustakin toimenpiteestä</strong>, jolla tietokoneesi pystytään korjaamaan. Tämän palvelun <strong>etuna</strong> on, että yrityksesi voi keskittyä kehittämään toimintaansa ja<strong> vähentää </strong>tietokoneiden kiinteitä ylläpitokustannuksia. </p>
					<li class="first"><a <%= link_to "3 KERRAN SUUNNITELMA (sopii KOTIKÄYTTÄJILLE) ",support_plan_path %> </a></li>
					<li><a <%= link_to "10 KERRAN SUUNNITELMA",    support_plan_path %></a></li>
					<li><a <%= link_to "RAJOITTAMATON TUKISUUNNITELMA",    support_plan_path %></a></li>
					
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<! <div class="divider">&nbsp; <! </div>

	

       
